@font-face {
    font-family: 'GT Cinetype Trial Rg';
    src: url('//cdn.shopify.com/s/files/1/0724/9281/0527/files/GTCinetypeTrial-Rg.eot');
    src: url('//cdn.shopify.com/s/files/1/0724/9281/0527/files/GTCinetypeTrial-Rg.eot?#iefix') format('embedded-opentype'),
        url('//cdn.shopify.com/s/files/1/0724/9281/0527/files/GTCinetypeTrial-Rg.woff2') format('woff2'),
        url('//cdn.shopify.com/s/files/1/0724/9281/0527/files/GTCinetypeTrial-Rg.woff') format('woff'),
        url('//cdn.shopify.com/s/files/1/0724/9281/0527/files/GTCinetypeTrial-Rg.ttf') format('truetype'),
        url('//cdn.shopify.com/s/files/1/0724/9281/0527/files/GTCinetypeTrial-Rg.svg#GTCinetypeTrial-Rg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding:0;
    margin:0;
}
body{
  font-family: 'GT Cinetype Trial Rg';
  font-size:17px;
  letter-spacing: normal;
  line-height:26px;
  opacity:0;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5{
  font-family: 'GT Cinetype Trial Rg';
}
.hide{
  display:none!important;
}
.p-60{
  padding-left:60px;
  padding-right:60px;
}
.large--hide{
  display:none!important;
}
.fullset{
  float:left;
  width:100%;
}
@media(max-width:767px){
.small--hide{
  display:none!important;
}
.large--hide{
  display:inherit!important;
}
}
.m-0{
    margin:0!important;
}
.p-0{
    padding:0!important;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.page-width {
  padding: 0 20px;
}
h1, .h1{
    font-family: var(--font-heading-family);
    font-weight: 400;
font-size: 48px;
line-height: 58px;
    margin:0 0 30px;    
}
h3, .h3{
    font-family: var(--font-heading-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin:0 0 30px;      
}
.button, .button-label, .shopify-challenge__button, .customer button {
	font-size: 14px;
	letter-spacing: normal;
	line-height: normal;
	text-transform: uppercase;
	font-family: arial;
	padding: 0;
	width: 100%;
	max-width: 181px;
	min-width: inherit;
	min-height: 44px;
	background: transparent;
  border: 1px solid #fff;
}
.button:hover, .button-label:hover, .shopify-challenge__button:hover, .customer button:hover{
  background: #000;
  border: 1px solid #000;
}
.button::after, .shopify-challenge__button::after, .customer button::after, .shopify-payment-button__button--unbranded::after {
	display:none!important;
}
.button::before, .shopify-challenge__button::before, .customer button::before, .shopify-payment-button__button--unbranded::before, .shopify-payment-button [role="button"]::before, .cart__dynamic-checkout-buttons [role="button"]::before {
	display:none!important;	
}
.announcement-bar__message {
	letter-spacing: normal;
	font-size: 15px;
	line-height: normal;
  padding: 7px 0 9px;
}
.announcement-bar.gradient {
	border: none;
}
.header-wrapper.gradient {
	background: transparent;
	border: none;
}
.announcement-bar-section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}
header.header {
	padding: 18px 0 0;
	min-height:271px;
  max-width: none;
  align-items: start;
}
.announcement-bar-section +  .section-header header.header {
  padding-top:52px;
  min-height:271px;
}
.section-header{
  background:url(header_bg.svg) no-repeat top center;
  background-size:100% auto;  
}
.header__icon, .header__icon--cart .icon {
	height: auto;
	width: auto;
	padding: 0;
  color: #fff;
text-decoration: none;
}
.header__menu-item {
	display: flex;
	align-items: center;
	line-height: normal;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: normal;
  padding:0;
  color:#fff;
}
.header__icons a{
  font-size: 14px;
	text-transform: uppercase;
	letter-spacing: normal;
  color:#fff;
  line-height: normal;
}
.header__inline-menu li{
  padding: 0 40px;
}
.header__inline-menu li:first-child{
  padding-left:0;
}
.header__inline-menu li:last-child{
  padding-right:0;
}
.header__menu-item span {
	color: #fff;
	text-decoration: none;
}
.header__search {
	margin: 0 34px 0 27px;
}
.modal__toggle-open.icon.icon-search {
	width: 11px;
	height: 11px;
	line-height: normal;
  margin-top: 3px;
}
.cart-count-bubble {
	background-color: transparent;
  height: auto;
width: auto;
	bottom: 3px;
	left: 4px;
}
.header__icons {
	align-items: center;
  margin-top: 13px;
}
.header__inline-menu {
	margin-top: 8px;
}
.footer {
	border-top: none;
	float: left;
	width: 100%;
}
.footer__content-bottom {
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
}
.footer-block__heading {
	float: left;
	width: 100%;
	font-weight: normal;
	margin: 0 0 20px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: normal;
}
footer .footer-block__details-content .list-menu__item--link {
	font-size: 16px;
	letter-spacing: normal;
  padding: 4px 0;
  color: #402E1B;
}
.footer {	
	background:url(footer_bg.svg) no-repeat top center;
  background-size:cover;
}
.footer__content-top .grid {
	padding-left: 60px;
}
.footer__content-bottom-wrapper {
	justify-content: flex-end;
}
.footer__copyright ul {
	list-style: none;
	display: flex;
	align-items: center;
}
.footer__copyright ul li {
	float: left;
	padding-left: 50px;
  font-size: 16px;
	letter-spacing: normal;
  color:#402E1B;
}
.footer__copyright ul li:first-child {	
	padding-left: 0px;
}
.footer__copyright ul li a{
font-size: 16px;
	letter-spacing: normal;
  color:#402E1B;
  text-decoration:none;
}
.footer__copyright ul li a:hover{
  text-decoration:underline;
}
.footer__content-bottom {
	border-top: none;
	padding-top: 0;
}
.breadcrumbs__item{
  text-transform:capitalize;
}
.breadcrumbs__item span {
	padding: 0 7px 0 4px;
	position: relative;
	top: 2px;
	font-size: 18px;
}
.breadcrumbs__item a{
  text-decoration:none;
  color:#402E1B;
}
.breadcrumbs__item a:hover{
  text-decoration:underline;
}